<template>
  <div id="navbar">
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-light">
        <div class="container-fluid">
          <router-link class="navbar-brand" to="/">Home</router-link>
          <router-link class="nav-link ms-auto" to="/login">Login</router-link>
          <router-link class="nav-link" to="/register">Register</router-link>
        </div>
      </nav>
    </div>  
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: 'Navbar',
}
</script>

<style>
#navbar {
  background-color: white;
}

#navbar .nav-link {
  margin-left: 20px;
}
</style>