<template>
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Penonton</h2></a>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="" class="question align-self-end"><i class='bx bx-help-circle'></i></a>
              </li>
            </ul>
        </div>
      </nav>
  
      <nav class="navbar">
        <div class="container">
          <b-dropdown text="+ Tambahkan Filter" variant="outline-secondary" class="m-2">
            <b-dropdown-item href="#">Action</b-dropdown-item>
            <b-dropdown-item href="#">Another action</b-dropdown-item>
            <b-dropdown-item href="#">Something else here</b-dropdown-item>
          </b-dropdown>
          <form class="search d-flex ms-auto ">
            <input type="search" placeholder="Cari di penonton">
            <button type="submit" disabled>Search</button>
          </form>
          <!-- <button class="btn btn-success ms-2" type="button" disabled></button> -->
          <b-button variant="success ms-2">Penonton Customer Match Baru</b-button>
        </div>
      </nav>
  
      <hr>
  
      <div class="d-flex">
        <div class="ms-auto">
          <a href="#" class="column ms-auto" style="text-decoration: none; color:black;"><i class='bx bx-columns'></i> Ubah Kolom</a>
        </div>
      </div>
  
      <hr>
  
      <b-table hover 
        :tbody-tr-class="rowClass"
        :items="items" 
        :fields="fields" 
        label-sort-asc=""
        label-sort-desc=""
        label-sort-clear="">
      </b-table>
    </div>
  </template>
  
  <script>
  export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'TablePenonton',
    data() {
        return {
          fields: [
            {
              key: 'nama_penonton',
              sortable: true,
              label: 'Nama Penonton'
            },
            {
              key: 'status',
              sortable: true,
              label: 'Status',
              
            },
            {
              key: 'jumlah_penonton',
              sortable: true,
              label: 'Jumlah Penonton'
            },
            {
              key: 'tipe',
              sortable: true,
              label: 'Tipe'
            },
            {
              key: 'dibuat_pada',
              sortable: true,
              label: 'Dibuat pada'
            },
            {
              key: 'terakhir_diubah',
              sortable: true,
              label: 'Terakhir diubah'
            },
            {
              key: 'kreator',
              sortable: true,
              label: 'Kreator'
            }
          ],
          items: [
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '30 Mar 2023', terakhir_diubah: '30 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '29 Mar 2023', terakhir_diubah: '29 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '29 Mar 2023', terakhir_diubah: '29 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Gagal', jumlah_penonton: 0, tipe: 'Customer match', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
            { nama_penonton: '', status: 'Aktif', jumlah_penonton: 0, tipe: 'Disimpan', dibuat_pada: '27 Mar 2023', terakhir_diubah: '27 Mar 2023', kreator: '' },
          ]
        }
      },
  }
  </script>
  
  <style>
  i{
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  .column i{
    font-size: 15px;
  }
  
  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  </style>