<template>
  <div class="home">
    <Navbar />
    <div class="container">
      <img alt="Vue logo" src="../assets/logo.png">
      <h1>Welcome To My Project</h1>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'HomeView',
  components: {
    // eslint-disable-next-line vue/no-unused-components
    Navbar
  }
}
</script>

<style>

.container {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

img{
  margin-top: 15vh;
}
</style>