<template>
  <div id="login">
    <Navbar />
    <div class="container">
      <div class="card shadow p-3 mb-5 bg-body-light rounded" style="width: 25rem;">
        <div class="card-body">
          <h2 class="card-title">LOGIN</h2>
          <hr>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <hr>
          <router-link class="btn btn-primary form-control" to="/table">Login</router-link>
          <br>
          <br>
          <router-link class="other-link link-underline-light" to="/login">Forgot Password ?</router-link>
          <br>
          <router-link class="other-link link-underline-light" to="/register">Register New Account</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'LoginView',
  components: {
    // eslint-disable-next-line vue/no-unused-components
    Navbar
  }
}
</script>

<style>
#login {
  height: 100%;
}

#login .container {
  display: grid;
}

#login .card {

    outline: none;
    padding: 20px;
    margin-top: 6vh;
    place-self: center;
}

#login .other-link {
  font-size: 14px;
}

</style>