<template>
  <div id="register">
    <Navbar />
    <div class="container">
      <div class="card  shadow p-3 mb-5 bg-body-light rounded" style="width: 25rem;">
        <div class="card-body">
          <h2 class="card-title">REGISTER</h2>
          <hr>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInputName" placeholder="Full Name">
            <label for="floatingInputName">Full Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
            <label for="floatingInputEmail">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingRetypePassword" placeholder="Retype Password">
            <label for="floatingRetypePassword">Retype Password</label>
          </div>
          <hr>
          <router-link class="btn btn-primary form-control" to="/table">Register</router-link>
          <br>
          <br>
          <router-link class="other-link link-underline-light" to="/login">Have an account ?</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'RegisterView',
  components: {
    // eslint-disable-next-line vue/no-unused-components
    Navbar
  }
}
</script>

<style>
#register {
  height: 100%;
}

#register .container {
  display: grid;
}

#register .card {
    outline: none;
    padding: 20px;
    margin-top: 2vh;
    place-self: center;
}

#register .other-link {
  font-size: 14px;
}
</style>