<template>
  <div class="table">
    <NavbarMenu />
    <TablePenonton />
  </div>
</template>

<script>
import NavbarMenu from '@/components/NavbarMenu.vue'
import TablePenonton from '@/components/TablePenonton.vue'

export default {
  name: 'TableView',
  components: {
    TablePenonton,
    NavbarMenu
  }
}
</script>

<style>

</style>